@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
/* CSS FOR EVENT CAROUSEL */

.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 720px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
/* #carousel-quanta{ */
/* display:none; */
/* visibility: hidden; */
/* } */
.carousel.carousel-slider {
  top: 0;
  left: 0;
}

.carousel.carousel-slider .carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  /* z-index: 1; */
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 68px;
}

.carousel.carousel-slider .carousel-item {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-text {
  position: relative;
  top: 50px;
}

.carousel-text h2 {
  font-family: "Merriweather", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.carousel-text p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
}

.carousel .carousel-item {
  visibility: hidden;
  width: 328px;
  height: 328px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel .carousel-item > img {
  border-radius: 50px;
  width: 100%;
}

.carousel .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.carousel .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 24px 4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 50%;
}

.carousel .indicators .indicator-item.active {
  background-color: #fff;
}

.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}

.hide {
  visibility: hidden;
}
.show {
  visibility: show;
}

#carousel-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#carousel-event button {
  border: none !important;
  background-color: transparent !important;
  cursor: pointer;
  z-index: 1;
}
#carousel-event button img {
  width: 40px;
}
#carousel-button-left {
  position: relative;
  left: 0px;
  bottom: 0px;
}

#carousel-button-right {
  position: relative;
  right: 0px;
  bottom: 0px;
}

#event h1 {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  position: relative;
  top: 150px;
  /* left: 550px; */
}
@media only screen and (max-width: 770px) {
  #carousel-button-left {
    display: none;
  }

  #carousel-button-right {
    display: none;
  }

  #event h1 {
    text-align: center;
    left: 0;
  }
  .carousel .carousel-item > img {
    padding: 40px;
  }
  .img-fluid {
    padding: 20px;
  }
}
