@media only screen and (max-width: 770px) {
  #connect-button {
    max-width: 100%;
    width: 100%;
  }
  #quanta-nav {
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 992px){
  #department{
    margin-top: 35rem;
    
  }
  #department-container h4 {
    font-size: 25px;
  }
  #department-container p {
    font-size: 2.6vw;
  }
}

@media only screen and (max-width: 770px) {
  .Main-heading {
    font-size: 32px;
    margin-bottom: 20px;
  }
  #aboutus {
    flex-direction: column;
  }
  #aboutus-img {
    width: 27%;
    margin: auto;
  }
  #aboutus-content {
    text-align: center;
    width: 80%;
    margin: auto;
  }
  #aboutus-content p {
    font-size: 2rem;
  }
  #department {
    margin-top: 29rem;
  }
  #department-container img {
    width: 20vw;
  }
  #department-container h4 {
    font-size: 25px;
    font-family: 'Merriweather', serif;
  }
  #department-container p {
    font-size: 2.2rem;
  }
  #home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  #home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }
  #home-img {
    margin: auto;
    width: 50vw;
  }
  #home-heading {
    font-size: 4rem;
  }
  .home-heading2 {
    font-size: 2rem;

    text-decoration: none;
  }
  #department-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  #mid-department {
    margin-top: 0rem;
  }
  .copyright-text {
    font-size: 10px;
  }
  #img {
    padding: 30px;
  }
  /* WORK FROM EVENTS SECTIONS */
}
@media (max-width: 770px) {
  .nav-img img {
    width: 20rem;
  }
  .nav-img {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media only screen and (max-width: 400px) {
  .Main-heading {
    font-size: 25px;
    margin-bottom: 20px;
  }
  #department {
    margin-top: 35rem;
  }
}