
.container{
    margin-top:20px;
    margin-bottom:10px;
    
}

.card{
    /* width: 215px; */
width:100%;
height: 353.28px;
border:none;
border-radius: 1.5rem;
box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.fa-linkedin{
    color: #21d4fd ;
}
.fa-instagram{
    color: #fd2146;
}
.fa-github{
    color: #000;
}
.card .card-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-footer{
    background-color: transparent !important;
}

.card .card-image img{
    border-radius:50%;
    width: 150px;
    height: 150px;
    margin-top: 1rem;
}

 .card .card-body h5{
    font-family: Merriweather;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height:1.5rem;
    letter-spacing: 0em;
    text-align: center;
       
}

.card .card-body p{
font-family: Roboto;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0em;
text-align: center;
margin:1rem 0;
}

 .card .card-body img{
    width: 96%;
    height:12px;
}
.card-footer{
    text-align: center;
}
.card .card-footer i{
    margin:0 1rem;
    font-size:2.4rem;
}
.Main-heading{
padding-top: 40px;
}
/* .content__overlay {
    position: absolute;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    bottom: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(
288.06deg
,#444bab 7.52%,#5a65ef 166.1%);
    overflow: hidden;
    width: 100%;
    height: 0;
    z-index: 10;
    transition: .4s ease;
    color: white;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.upper-card:hover .content__overlay {
    bottom: 15%;
    height: 85%;
} */
@media screen and (max-width:900px) {
    .upper-card:hover .content__overlay {
        bottom: 15%;
        height: 85%;
    }
    .card .card-image img{
        border-radius:50%;
        width: 100px;
        height: 100px;
    }
}